.container {
    color: #edd7d7;
    padding: 0 30px 15px 30px;
    align-self: center;
}
/* Somos a Space Obra */
    main {
        width: 100vw;
        /* height: 100%; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/logo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        flex: 1 0 auto; /* Main ocupa o restante do espaço disponível */
        overflow-y: auto; /* Permite rolagem se o conteúdo for maior que a altura disponível */
    }
    .subtitle {
        font-size: 1.25rem;
    }

    .description {
        font-size: 1rem;
        color: white;
    }

/* Location  */
    .location {
        padding: 0 30px;
    }
    .location p {
        color: #edd7d7;
        margin: 6px 0;
    }

    .map-responsive{
        margin-top: 16px;
        overflow: hidden;
        padding-bottom: 56.25%;
        position:relative;
        height:0;
    }
    
    .map-responsive iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }

/* Veja nossos projetos... */
    .information {
        padding: 30px;
    }

/* Tablet - Pequeno e médio */
@media (min-width: 768px) and (max-width: 1023px) {
    main {
        justify-content: space-evenly;
    }

    .container {
        text-align: center;
    }

    .subtitle {
        font-size: 1.5rem;
    }

    .description, .location p, .information {
        font-size: 1.125rem;
    }
}

/* Tablet - Grande */
@media (min-width: 1024px) and (max-width: 1199px) {
    main {
        justify-content: space-evenly;
    }

    .container {
        text-align: center;
    }

    .title {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 2rem;
    }

    .description, .location p {
        font-size: 1.5rem;
    }

    .information {
        display: none;
    }
}
/* Desktop */
@media (min-width: 1200px) {
    main {
        flex-direction: row;
        justify-content: center;
    }
    .container {
        padding: 30px;
        align-self: flex-start;
        text-align: justify;
    }

    .title {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }
    .description {
        font-size: 1.125rem;
    }

    .location {
        padding: 0 50px;
        align-self: center;
    }
    .location p {
        font-size: 1.125rem;
        text-align: justify;
    }
    .information {
        display: none;
    }

    footer {
        font-size: 1rem;
    }
}